#malstromLogo {
    position: fixed;
    left: 8vw;
    height: 8vh;
}

#container {
    display: grid;
    grid-template-columns: 5vw 85vw 5vw;
    grid-template-rows: auto 80vh;
    gap: 1vw;
    padding: 1vw;
    background-color: aqua;
}

.grid-item {
    background-color: blue;
    color: #dddddd;
}

#terminal {
    height: 50vh;
    border-radius: 0 5em 0 0;
}

#terminalStyling {
    background-color: aqua;
    position: relative;
    left: 40em;
    top: 20em;
    width: 20em;
    height: 30em;

}


#navBar {
    display: flex;
    grid-column: 2 / 4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

#navBar li {
    float: left;
    padding: 5vw;
}

#navBar li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

h1 {
    font-family: roboto-mono, sans-serif;
}

a {
    font-family: roboto-mono, sans-serif;
    text-decoration: none;
}